html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 300;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

// End of Reset

// Fonts
@font-face {
  font-family: "Cupra";
  src: url("../fonts/Cupra-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cupra";
  src: url("../fonts/Cupra-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cupra";
  src: url("../fonts/Cupra-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
//End of fonts

// Colors
$color-light-gray: #f5f5f5;
$color-dark-gray: #1b1b1b;
$color-darker-gray: #190f14;

$color-sand: #dbd3cb;
$color-white: #fff;
$color-black: #000;

body {
  font-family: "Cupra", sans-serif;
  font-size: 16px;
}

// Utility classes
.btn {
  border: 1px solid black;
  white-space: nowrap;
  text-decoration: none;
  max-width: 250px;
  padding: 0.8em 1em !important;
  font-weight: 400 !important;

  &--dark {
    color: white;
    background-color: $color-dark-gray;
  }

  &--transparent {
    background-color: transparent;
  }

  &--sand {
    background-color: $color-sand;
    color: $color-black;
    border: none;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1em;
}

.position-relative {
  position: relative;
}

.opacity-50 {
  opacity: 0.5;
}

.padding {
  &-10 {
    padding: 10px 0;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  &-50 {
    width: 49%;
  }
  &-row {
    flex-direction: row;
  }
  &-column {
    flex-direction: column;
  }
}
// Font weight
.fw {
  &-300 {
    font-weight: 300;
  }
  &-400 {
    font-weight: 400;
  }
  &-500 {
    font-weight: 500;
  }
}
// Font size
.fs {
  &-xl {
    font-size: 32px;
  }
  &-l {
    font-size: 32px;
  }
  &-m {
    font-size: 20px;
  }
  &-s {
    font-size: 16px;
  }
}

// .title {
//   &-l {
//     // padding: 20px 0;
//   }
//   &-m {
//     padding: 15px 0;
//   }
//   &-s {
//     // padding: 10px 0;
//   }
// }

// Nav

header {
  background-color: $color-light-gray;
  padding: 1.8449em 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 21;
  box-shadow: 0 0 10px 5px black;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  ul {
    width: 100%;
    li {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      a {
        width: 100%;
        padding: 1em 0;
        text-decoration: none;
        font-weight: 300;

        strong {
          font-weight: 500;
          margin: 0 1.5em;
        }
      }
    }
  }
  &__menu {
    display: none;
  }
  &__menu--active {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    padding-bottom: 1em;
    top: 73px;
    left: 0;
    height: calc(100vh - 75px);
    width: 100vw;
    background-color: $color-light-gray;
  }
  &__links {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.25em;
    li {
      border-bottom: 1px solid rgba(#000, 0.2);
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  &__toggle-button {
    position: relative;
    height: 20px;
    width: 30px;
  }
  &__line {
    height: 2px;
    width: 100%;
    border-radius: 10%;
    background-color: $color-black;
    transition: transform 0.2s ease-in-out;

    &--one {
      position: absolute;
      top: 0;
    }
    &--two {
      position: absolute;
      top: 10px;
    }
    &--three {
      position: absolute;
      top: 10px;
    }
    &--four {
      position: absolute;
      top: 20px;
    }
  }

  &__toggle-button--active {
    .nav__line--one {
      transform: scale(0);
    }
    .nav__line--two {
      transform: rotate(-35deg);
    }
    .nav__line--three {
      transform: rotate(35deg);
    }
    .nav__line--four {
      transform: scale(0);
    }
  }
}

// Hero section

.hero {
  height: 100vh;
  video {
    object-fit: cover;
    object-position: center;
    height: 100vh;
    width: 100%;
  }

  &__text {
    color: $color-white;
    position: absolute;
    bottom: 80px;
    h1 {
      font-size: 32px;
      margin: 10px 0 50px 0;
    }
  }
}

// Try-out section

.try-out {
  color: white;
  padding: 80px 0;
  background-color: $color-dark-gray;
  &__text-content {
    max-width: 500px;
  }
  &__title {
    padding-bottom: 20px;
  }
  &__cta {
    margin-bottom: 40px;
    p:last-of-type {
      margin-bottom: 40px;
    }
  }
  .col {
    img {
      width: 100%;
    }
  }
}

.models-carousel {
  background-color: $color-light-gray;
  padding: 100px 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  strong {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
  }
  &__title {
    padding-bottom: 20px;
    color: black;
  }
  &__model-stats {
    padding: 40px 0;
  }
  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 40px;
  }
}
// Media queries
@media screen and (min-width: 750px) {
  // Font size
  .fs {
    &-xl {
      font-size: 48px;
    }
    &-l {
      font-size: 40px;
    }
    &-m {
      font-size: 36px;
    }
    &-s {
      font-size: 20px;
    }
  }

  .hero {
    &__text {
      left: 80px;
      h1 {
        font-size: 48px;
      }
    }
  }
  .try-out {
    &__cta {
      margin-top: 100px;
      p:last-of-type {
        margin-bottom: 50px;
      }
    }

    .flex {
      flex-direction: row;
      gap: 2em;
    }
    img {
      padding: 20px 0 0 0;
    }
    .col {
      flex-shrink: 1;
      &:first-of-type {
        width: 60%;
      }
      &:last-of-type {
        margin-top: 300px;
        width: 40%;
      }
    }
  }
}
@media screen and (min-width: 1250px) {
  header {
    padding: 1em 0;
  }
  .nav {
    ul {
      padding: 0;
      width: auto;
    }
    &__menu {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1em;
    }

    &__links {
      flex-direction: row;
      font-size: 1rem;
      li {
        border: none;
      }
    }
    &__actions {
      flex-direction: row;
    }
    &__toggle-button {
      display: none;
    }
  }
  .models-carousel {
    &__row {
      flex-direction: row;
      justify-content: center;
      padding: 20px 0;
    }
  }
}

@media screen and (min-width: 1350px) {
  // Font size
  .fs {
    &-xl {
      font-size: 60px;
    }
    &-l {
      font-size: 40px;
    }
    &-m {
      font-size: 36px;
    }
    &-s {
      font-size: 20px;
    }
  }
  .nav {
    &__menu {
      padding: 0 4em;
    }
  }
  .hero {
    &__text {
      left: 80px;
      bottom: 100px;
      h1 {
        line-height: 64px;
        font-size: 60px;
      }
    }
  }
}

.splide__slide {
  opacity: 0.5;
}
.is-active {
  opacity: 1;
}
