/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
// CSS Reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
}
// End of Reset

// Fonts
@font-face {
  font-family: "Cupra";
  src: url("../fonts/Cupra-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cupra";
  src: url("../fonts/Cupra-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cupra";
  src: url("../fonts/Cupra-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
//End of fonts

// Colors
$color-light-gray: #f5f5f5;
$color-dark-gray: #1b1b1b;
$color-darker-gray: #190f14;

$color-sand: #dbd3cb;
$color-white: #fff;
$color-black: #000;

body {
  font-family: "Cupra";
  font-size: 16px;
  // height: 10000px;
}

.btn {
  border: 1px solid black !important;
  white-space: nowrap;
  max-width: 250px;
  padding: 1em !important;
  font-weight: 400 !important;

  &--dark {
    color: white;
    background-color: $color-dark-gray;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1em;
}
// Nav

header {
  background-color: $color-light-gray;
  padding: 2em 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;

  ul {
    width: 100%;
    li {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      a {
        width: 100%;
        padding: 1em 0;
        text-decoration: none;
        font-weight: 300;

        strong {
          font-weight: 500;
          margin: 0 1.5em;
        }
      }
    }
  }
  &__menu {
    display: none;
  }
  &__menu--active {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    top: 87px;
    left: 0;
    height: calc(100vh - 87px);
    width: 100vw;
    background-color: $color-light-gray;
  }
  &__links {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 1em;
    font-size: 1.25em;
    li {
      a {
        padding: 1em 0;
      }
      border-bottom: 1px solid rgba(#000, 0.2);
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    // gap: 2.5em;
  }

  &__toggle-button {
    position: relative;
    height: 20px;
    width: 30px;
  }
  &__line {
    height: 2px;
    width: 100%;
    border-radius: 10%;
    background-color: $color-black;
    transition: transform 0.2s ease-in-out;

    &--one {
      position: absolute;
      top: 0;
    }
    &--two {
      position: absolute;
      top: 10px;
    }
    &--three {
      position: absolute;
      top: 10px;
    }
    &--four {
      position: absolute;
      top: 20px;
    }
  }

  &__toggle-button--active {
    .nav__line--one {
      transform: scale(0);
    }
    .nav__line--two {
      transform: rotate(-35deg);
    }
    .nav__line--three {
      transform: rotate(35deg);
    }
    .nav__line--four {
      transform: scale(0);
    }
  }
}

@media screen and (min-width: 1250px) {
  header {
    padding: 1em 0;
  }
  .nav {
    ul {
      padding: 0;
      width: auto;
      li {
        a {
          // padding: 1em 0;
        }
      }
    }
    &__menu {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1em;
    }

    &__links {
      flex-direction: row;
      li {
        border: none;
      }
    }
    &__actions {
      flex-direction: row;
    }
    &__toggle-button {
      display: none;
    }
  }
}

@media screen and (min-width: 1350px) {
  .nav {
    &__menu {
      padding: 0 4em;
    }
  }
}
